<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 재설정 페이지</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
  </script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link th:href="@{/css/login.css}" rel="stylesheet">
  <script>
    $(document).ready(function () {

      $('form').on('submit',function () {
        var password = $(this).find('input[name=password]').val();
        var passwordCheck = $(this).find('input[name=passwordCheck]').val();
        if(password != passwordCheck) {
          alert('비밀번호와 비밀번호 확인 값이 일치하지 않습니다.');
          return false;
        }
      });
    })
  </script>
</head>
<body>
<div th:if="${result eq true}">
<div class="container">
  <div class="col-md-6 mx-auto text-center">
    <div class="header-title text-center">
      <h1 class="wv-heading--title">Reset Password</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="myForm form">
        <form method="post" id="login-form" class="form">
          <div class="form-group">
            <label for="password" class="text">비밀번호: </label>
            <input type="password" name="password" required class="form-control my-input" id="password" >
            <span th:text="${valid_password}" class = "alertMessage"></span>
          </div>
          <div class="form-group">
            <label for="passwordCheck" class="text">비밀번호 확인: </label>
            <input type="password" name="passwordCheck"  id="passwordCheck" class="form-control my-input">
            <span th:text="${valid_passwordCheck}" class = "alertMessage"></span>
          </div>
          <br>
          <div class="form-group">
            <button class="btn btn-block send-button" type="submit" id="reset-password" name="submit">summit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div th:if="${result eq false}">
  <script>
    alert('비밀번호 재설정을 위한 이메일 인증이 유효하지 않습니다!'); location.href ="/"
  </script>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>